{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 center-content">
      <h2>Sign up your {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark my-2">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}