{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
                <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                <button class="btn btn-black rounded-0" type="submit">Add Product</button>
            </div>
        </form>
    </div>            
</div>
{% endblock %}

{% block page_footer %}
    <div class="container-fluid footer-container">
        <div class="row justify-content-center footerpositioning">
            <div class="col-md-3 text-center mt-4">
                <h4><span class="logo-font"><span class="logo-green">O<span style="color:white;">obr</span></h4>
            </div>
            <div class="col-md-3 mt-4">
                <p class="footer-title logo-green">Useful Links</p>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Register your business</a></li>
                    <li><a href="#" class="footer-link">Get in touch</a></li>
                    <li><a href="#" class="footer-link">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 mt-4">
                <p class="footer-title logo-green">Find Us</p>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Facebook</a></li>
                    <li><a href="#" class="footer-link">Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 mt-4">
                <p class="footer-title logo-green">Subscription</p>
                <p class="footer-text">Subscribe to site updates, be the first to know all the news.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control footer-input" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary footer-input footer-subscribe" type="button" id="button-addon2">Subscribe</button>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}